// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .left{
  margin-left: 24%;
  border:1px solid;

 }
   .icon{
 margin-left: 10%;
 color:white
  }
    .img{
      width: 80px;
 }
 .right{
      text-align: center;
      font-family: bold;
      font-size: 20px;
 }
 .size{
  width: 50%;
}
dt{
   font-size: 15px;
}
    .abc{
      height: 60px;
      width: 20%;
      border-radius: 70%;
      background-color: gray;
  }
  #wrapper{
      margin-top: -4%;
  }
  .color{
      color: black;
  }
    .colors{
      color: white;
  }
  .btn{
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .button{
      float: right;
    }

     .both{
margin-left: 43%;
      }